.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container h1 {
    margin: 10px 0px;
}
.chartContainer {
    margin: 10px 0px;
}